hotel-proyect/telegram-hotel.json
{
  "name": "telegram-hotel",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM transferencias\nWHERE numero_transferencia = '{{ $json['texto-datos'] }}'\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        1696
      ],
      "id": "340a9ba6-755e-469f-9531-4710051db3b0",
      "name": "verificar-pago",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ej15uHn97abrndN4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f52b34b-b1af-424e-b796-ae72bd3a4614",
              "name": "from.id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "216edd3f-7075-4ede-b559-0130d1f71641",
              "name": "is_bot",
              "value": "={{ $json.message.from.is_bot }}",
              "type": "boolean"
            },
            {
              "id": "99a9b5dd-c758-4255-9618-5cba162c4467",
              "name": "first_name",
              "value": "={{ $json.message.chat.first_name }}",
              "type": "string"
            },
            {
              "id": "f70bf243-542d-43a5-b579-3d62f4fe968e",
              "name": "last_name",
              "value": "={{ $json.message.chat.last_name }}",
              "type": "string"
            },
            {
              "id": "5e46d4ee-3569-4eb2-899d-b65974e4bfa9",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "7e249d9c-114a-42fe-b7fc-695f9c785371",
              "name": "chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "799b5fc4-f152-4a75-9521-3780db8c4148",
              "name": "message-guion",
              "value": "={{ $json.message.text.split(' ')[0].toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "e9d8aef9-4147-4005-8dd6-50ab1deade92",
              "name": "texto-datos",
              "value": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        1440
      ],
      "id": "b2318c5a-9ca9-449c-928e-05310e956d9d",
      "name": "data-user"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f52b34b-b1af-424e-b796-ae72bd3a4614",
              "name": "from.id",
              "value": "={{ $json.from.id }}",
              "type": "number"
            },
            {
              "id": "216edd3f-7075-4ede-b559-0130d1f71641",
              "name": "is_bot",
              "value": "={{ $json.message.from.is_bot }}",
              "type": "boolean"
            },
            {
              "id": "99a9b5dd-c758-4255-9618-5cba162c4467",
              "name": "first_name",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "f70bf243-542d-43a5-b579-3d62f4fe968e",
              "name": "last_name",
              "value": "={{ $json.last_name }}",
              "type": "string"
            },
            {
              "id": "5e46d4ee-3569-4eb2-899d-b65974e4bfa9",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "7e249d9c-114a-42fe-b7fc-695f9c785371",
              "name": "chat.id",
              "value": "={{ $json.from.id }}",
              "type": "number"
            },
            {
              "id": "799b5fc4-f152-4a75-9521-3780db8c4148",
              "name": "message-guion",
              "value": "={{ $json['message-guion'] }}",
              "type": "string"
            },
            {
              "id": "baee93ab-ef25-4bfd-b2b3-8bf715cb4d0b",
              "name": "texto-datos",
              "value": "={{ $json['texto-datos'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1456
      ],
      "id": "3e42a1c0-dcc1-485d-945b-ac6000c57a99",
      "name": "data-user1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "493748d9-30dc-4d38-9cd0-923194f1c0a8",
              "leftValue": "={{ $json.numero_transferencia }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        1696
      ],
      "id": "959b42ff-ec13-4434-a4a5-ddf789e8d7a9",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "=❌ Lo siento, no hemos encontrado el número de transferencia.  Verifica si lo escribiste correctamente.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        1792
      ],
      "id": "c8e85add-ebd5-432b-9662-b65df54373bd",
      "name": "send-noencontrado1",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE transferencias\nSET verificado = true\nWHERE numero_transferencia = '{{ $('data-user1').item.json['texto-datos'] }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        1648
      ],
      "id": "6d104a89-b10a-4b00-8bf4-299c40dce413",
      "name": "verificar-pago1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ej15uHn97abrndN4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "=✅ Transferencias verificadas correctamente\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        1648
      ],
      "id": "a84e93d6-01a9-402f-ba30-2c2b9194fac5",
      "name": "send-encontrado2",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM transferencias\nWHERE verificado = false;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        1952
      ],
      "id": "cfc1a47e-ec2e-401f-9ba2-759b37f9f7d6",
      "name": "listar transferencias",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ej15uHn97abrndN4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener array de transferencias desde el campo 'data'\nconst transferencias = $input.first().json.data;\n\n// Obtener chat_id desde el nodo 'data-user'\nconst userData = $items(\"data-user\", 0)?.json || {};\n\n// Formatear el mensaje\nconst filas = transferencias.map((t, i) => {\n  return [\n    `🔢 *${i + 1}*`,\n    `📞 Teléfono: ${t.numero_telefono}`,\n    `💸 Monto: *$${parseFloat(t.monto).toFixed(2)}*`,\n    `📄 N° Transferencia: \\`${t.numero_transferencia}\\``,\n    `___________________________`\n  ].join('\\n');\n});\n\nconst mensaje = `⚠️ *Transferencias sin verificar* ⚠️\\n\\n${filas.join('\\n')}`;\n\nreturn [{\n  json: {\n    mensaje,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1952
      ],
      "id": "d2848fe6-af2a-4435-bbef-5fd41afc6307",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        1952
      ],
      "id": "d19b8dbe-ccbc-48d7-b35e-6892d0757f76",
      "name": "send-noencontrado2",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1056,
        1952
      ],
      "id": "beefd589-b6af-468e-875e-7f53d986014f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        1440
      ],
      "id": "a2aab401-9f17-48dc-bb84-97aefece31bc",
      "name": "Telegram Trigger1",
      "webhookId": "12ca6488-8f1e-4411-a04b-9fe40dec6f22",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab9b8fa5-0b6f-4de0-9c19-b3c2f836fc42",
              "leftValue": "={{ $json.is_bot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        1440
      ],
      "id": "7fc27649-400b-49ef-9e9b-8377a0de6d2c",
      "name": "If3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "311e085f-4ea4-4b81-9c2e-6c05aca7c5ca",
                    "leftValue": "/help",
                    "rightValue": "={{ $('data-user').item.json['message-guion'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "/liberar",
                    "rightValue": "={{ $('data-user').item.json['message-guion'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f281e1d4-d531-4c0a-a454-85262ec14507"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "liberar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c85a79a-cc39-4b4a-8edf-58cffe1fc9b1",
                    "leftValue": "/estadisticas",
                    "rightValue": "={{ $('data-user').item.json['message-guion'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "estadisticas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98976cc3-114e-40e6-a810-baea3749be3b",
                    "leftValue": "/agregarsoporte",
                    "rightValue": "={{ $('data-user').item.json['message-guion'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "addsoporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bfef1a0-507c-4afb-993d-96f4bbfb014b",
                    "leftValue": "/verificarpago",
                    "rightValue": "={{ $('data-user').item.json['message-guion'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "verificarpago"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69907aa3-4db6-46c8-9ec9-c43ea269159d",
                    "leftValue": "/listarpendientes",
                    "rightValue": "={{ $('data-user').item.json['message-guion'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listarpendie"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        496,
        1392
      ],
      "id": "59309076-dfb7-465a-a95a-8cca7bb69a5f",
      "name": "Switch1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM en_espera\nWHERE identificador = '{{ $json.message }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        880
      ],
      "id": "f836d92a-3f6d-47fa-9d92-d10f1b78e805",
      "name": "verificar-existe1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ej15uHn97abrndN4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "485ca3b2-9294-4a4d-8d4f-d5accd5ba2c7",
              "name": "message",
              "value": "={{ ($('data-user').item.json.message.match(/\\d{7,}/)?.[0] || '').replace(/^0/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        880
      ],
      "id": "c88babab-5f14-4828-ae6b-c87f495eed57",
      "name": "data2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "493748d9-30dc-4d38-9cd0-923194f1c0a8",
              "leftValue": "={{ $json.identificador }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        880
      ],
      "id": "7833ed06-f18b-4409-bd19-0edaea732f47",
      "name": "If4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM en_espera\nWHERE identificador = '{{ $json.identificador }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        800
      ],
      "id": "b96b929f-df6d-45fc-8f76-65b56676bc5b",
      "name": "limpiar-soporte1",
      "credentials": {
        "postgres": {
          "id": "Ej15uHn97abrndN4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) AS total,\n  COUNT(*) FILTER (WHERE spam = true) AS spam,\n  COUNT(*) FILTER (WHERE soporte = true) AS soporte,\n  COUNT(*) FILTER (WHERE relevante = true) AS relevante,\n  COUNT(*) FILTER (WHERE pendiente = true) AS pendiente\nFROM conversaciones_dia;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        1136
      ],
      "id": "991a9855-9489-4607-b642-421981678ace",
      "name": "contar-estadisticas1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ej15uHn97abrndN4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "=📊 *Estadísticas del día {{ new Date().toLocaleDateString('es-EC') }}:\n\n🔢 Total de conversaciones: `{{ $json.total }}`\n🛠️ Soporte: `{{ $json.soporte }}`\n📬 Relevantes: `{{ $json.relevante }}`\n📌 Pendientes: `{{ $json.pendiente }}`\n🚫 Spam: `{{ $json.spam }}`\n\n¡Gracias por tu excelente trabajo hoy! 💪",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        1136
      ],
      "id": "13dc220f-2737-4380-b829-0ed5a3faeb92",
      "name": "send-estadisticas1",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "=❌ Lo siento, no hemos encontrado el número.  Verifica si lo escribiste correctamente o puede que el número ya haya sido liberado del soporte.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        960
      ],
      "id": "94b66f1d-8329-42d3-ab17-e4a800893516",
      "name": "send-noencontrado3",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "=✅ El número ha sido liberado del soporte correctamente.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        800
      ],
      "id": "ba0fb8c7-49f6-4203-9544-3f0f231148fa",
      "name": "send-encontrado3",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "=✅ El número ha sido agregado al soporte correctamente.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        1456
      ],
      "id": "beb74716-c535-4e10-8c1a-e9a2c194633d",
      "name": "send-encontrado4",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO en_espera (identificador)\nVALUES ('{{ $json.message.split(\"@\")[0].slice(-9) }}')\nON CONFLICT (identificador)\nDO UPDATE SET identificador = EXCLUDED.identificador;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        1456
      ],
      "id": "7a892bfe-8ad4-4e2d-92b5-b3f906efe874",
      "name": "add-soporte1",
      "credentials": {
        "postgres": {
          "id": "Ej15uHn97abrndN4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "485ca3b2-9294-4a4d-8d4f-d5accd5ba2c7",
              "name": "message",
              "value": "={{ ($('data-user').item.json.message.match(/\\d{7,}/)?.[0] || '').replace(/^0/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        1456
      ],
      "id": "f20b530a-64fa-48bb-9670-4e8ee74abb86",
      "name": "data3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.17.42.196:8080/message/sendText/{{ $json.instacia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=apikey ",
              "value": "={{ $json.api_number_instancia }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.identifier }}"
            },
            {
              "name": "text",
              "value": "=✅ Su transferencia ha sido verificada correctamente."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        1648
      ],
      "id": "9d3f4283-c510-4d19-aa86-5bbfcfe9a6b4",
      "name": "send-wait"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  api_number_instancia,\n  instacia,\n  identifier\nFROM transferencias\nWHERE numero_transferencia = '{{ $('data-user').item.json['texto-datos'] }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        1648
      ],
      "id": "b57fe2af-0be9-4454-8408-f0cdc70e1b80",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Ej15uHn97abrndN4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "=🆘 *Menú de Ayuda*\n\n/help – Muestra este mensaje de ayuda.\n/verificarpago <número> – Verifica si una transferencia ha sido registrada.\n/listarpendientes – Lista transferencias aún sin validar.\n/liberar <número> – Elimina un número del soporte.\n/agregarsoporte <número> – Agrega un número al soporte.\n/estadisticas – Muestra el resumen diario de conversaciones.\n\n_Usa los comandos tal como están escritos. Si necesitas ayuda, contáctanos._ 😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        624
      ],
      "id": "dfaa0ec7-96d0-489a-9f4e-f5d8f75600a8",
      "name": "send-noencontrado",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55a1173c-1cc7-4dd1-b0a2-27549b93b2df",
              "leftValue": "={{ $json['texto-datos'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        1376
      ],
      "id": "4c3e0654-0e55-40bf-ba35-c495fe97dbc3",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('data-user').item.json.from.id }}",
        "text": "=⚠️ *Error de formato*\n\nParece que olvidaste agregar el número.  \nPor favor usa el comando así:\n\n`/addsoporte numero`\n\n🔁 Intenta de nuevo, asegurándote de incluir el número.\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        1312
      ],
      "id": "454efc56-a0d9-48a6-a013-6e81f461d18d",
      "name": "send-encontrado",
      "webhookId": "84fce957-3c42-4375-893e-1b29277967f6",
      "credentials": {
        "telegramApi": {
          "id": "TYAzjxj9j4etWB5i",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 1568,
        "width": 1616,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        576
      ],
      "id": "bc0edcef-10b1-4e91-90d3-42bf23176a12",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "🆘 /help\nEste comando activa el nodo send-noencontrado, que responde por Telegram con un mensaje de ayuda predefinido. Muestra una lista de todos los comandos disponibles junto con su función. No interactúa con base de datos ni realiza validaciones. Es un mensaje puramente informativo y estático.",
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        608
      ],
      "id": "2ebc3699-1567-4f03-9fc5-e08d4aebcffb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "width": 1104,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        608
      ],
      "id": "8e11a5e8-4ebb-4691-9f4a-b505280ac249",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 1104,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        800
      ],
      "id": "4a6c6bb8-8675-470a-b08f-495011d92e2b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "",
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        1952
      ],
      "id": "ea941feb-8789-4315-b532-a4bc243c15eb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 1104,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        1312
      ],
      "id": "22a1d5f5-55b7-4bf0-a7c0-7821a50a659e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 1104,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        1632
      ],
      "id": "a7acb46f-c4e2-4690-848b-df9e006c84fb",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "",
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        1136
      ],
      "id": "b74a5ace-d0e4-4d97-bc9f-8ee74ba3c4ee",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "📝 /listarpendientes\nConsulta todas las transferencias con verificado = false desde la tabla transferencias usando el nodo listar transferencias. Luego, Aggregate agrupa los resultados y Code genera un mensaje formateado (índice, teléfono, monto y número). Finalmente, send-noencontrado2 lo envía por Telegram al operador. Este flujo permite revisar de un vistazo todas las transferencias que aún no han sido procesadas.\n",
        "height": 192,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        1936
      ],
      "id": "1afd05d2-f42c-412a-a0c9-2402940da49e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "✅ /verificarpago <número>\nInicia con verificar-pago, que busca en la tabla transferencias por el numero_transferencia. Si se encuentra (If2 verdadero), se actualiza como verificado = true en verificar-pago1, se notifica al operador con send-encontrado2, y se consulta información adicional (instancia, API key, número) con Execute a SQL query. Luego, el mensaje se envía al cliente por WhatsApp con send-wait. Si la transferencia no existe (If2 falso), se envía un mensaje de error con send-noencontrado1. Este flujo verifica una transferencia y notifica automáticamente al cliente.",
        "height": 240,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        1648
      ],
      "id": "0d38d5ea-6f3e-4343-b0e2-0ddcdddf32cc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "🧱 /agregarsoporte <número>\nPrimero pasa por el nodo If que evalúa si el número fue enviado. Si está vacío, responde con el nodo send-encontrado, indicando el error de formato. Si hay número, data3 lo extrae del mensaje y add-soporte1 lo inserta o actualiza en la tabla en_espera usando ON CONFLICT. Finalmente, send-encontrado4 notifica que fue agregado correctamente. Este flujo sirve para registrar manualmente un número en la lista de espera o soporte.",
        "height": 240,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        1360
      ],
      "id": "f1b41743-18df-422e-94bc-cc162abbc36a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "📊 /estadisticas\nEjecuta el nodo contar-estadisticas1, que lanza un SELECT con varios COUNT(*) filtrando por flags (spam, soporte, pendiente, etc.) desde la tabla conversaciones_dia. Luego, send-estadisticas1 construye y envía un resumen del día con los totales. Es útil para monitorear el desempeño del sistema diariamente sin afectar la base de datos.\n",
        "height": 176,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        1136
      ],
      "id": "15863320-a16f-4cdd-9038-55cf86cafdf5",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "🔓 /liberar <número>\nEl flujo primero extrae el número del mensaje con data2. Luego, verificar-existe1 consulta en la tabla en_espera si existe ese identificador. A través del nodo condicional If4, si el número existe, se ejecuta limpiar-soporte1 para eliminarlo de la base y se envía una confirmación con send-encontrado3. Si no se encuentra, se envía un mensaje de error con send-noencontrado3. Este flujo limpia manualmente el soporte de un número.",
        "height": 224,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        800
      ],
      "id": "49e15c86-776e-4711-b693-7241b516a8e7",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 171200980,
          "message": {
            "message_id": 173,
            "from": {
              "id": 6580829248,
              "is_bot": false,
              "first_name": ".",
              "last_name": ".",
              "language_code": "es"
            },
            "chat": {
              "id": 6580829248,
              "first_name": ".",
              "last_name": ".",
              "type": "private"
            },
            "date": 1754002954,
            "text": "/estadisticas",
            "entities": [
              {
                "offset": 0,
                "length": 8,
                "type": "bot_command"
              },
              {
                "offset": 9,
                "length": 9,
                "type": "phone_number"
              }
            ]
          }
        }
      }
    ]
  },
  "connections": {
    "verificar-pago": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data-user": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data-user1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "verificar-pago1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send-noencontrado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar-pago1": {
      "main": [
        [
          {
            "node": "send-encontrado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listar transferencias": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "send-noencontrado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "data-user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [],
        [
          {
            "node": "data-user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "send-noencontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "data2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contar-estadisticas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "verificar-pago",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "listar transferencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar-existe1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data2": {
      "main": [
        [
          {
            "node": "verificar-existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "limpiar-soporte1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send-noencontrado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpiar-soporte1": {
      "main": [
        [
          {
            "node": "send-encontrado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contar-estadisticas1": {
      "main": [
        [
          {
            "node": "send-estadisticas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-soporte1": {
      "main": [
        [
          {
            "node": "send-encontrado4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data3": {
      "main": [
        [
          {
            "node": "add-soporte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send-encontrado2": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send-wait": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "send-wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "send-encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d0d72298-0f09-4426-8b29-eca9262f6442",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ba61dde2cd93cbe58daac983d4e6adbbd26cdb7234ab9094e5a6df0ba3f1063"
  },
  "id": "s8vpWwTta8mEddn7",
  "tags": []
}